


/* MAIN CONTENT  */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  padding: 2rem;
  overflow-y: auto;
}

/*TOP BAR */
.main-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.header {
  font-size: 2rem;
  color: black;
  font-weight: bold;
}

.top-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile-name {
  color: #333;
  font-weight: 600;
}


/*RECORDS TABLE */

.record-table {
  width: 100%;
  border-collapse: collapse;
}

.record-table th,
.record-table td {
  padding: 12px 16px;
  text-align: left;
}

.record-table th {
  background-color: #0e4a5f;
  color: white;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.record-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.record-table tbody tr:hover {
  background-color: #e0f7fa;
  transition: background-color 0.3s ease;
}

.record-table td {
  color: #333;
}

/*  RESPONSIVE */
@media (max-width: 1024px) {
  .dashboard-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .nav-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }
}

