/* Page Background */
.register-container {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
   background-color: rgb(232, 226, 226);
}

/* Form Styling */
.register-form {
  background: #ffffff;
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 420px;
  transition: all 0.3s ease-in-out;
}

/* Title */
.register-title {
  font-size: 1.9rem;
  font-weight: 700;
  color: #146985;
  text-align: center;
  margin-bottom: 1.5rem;
}

/* Inputs */
.register-input,
.register-select {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.register-input:focus,
.register-select:focus {
  border-color: #146985;
  box-shadow: 0 8px 25px rgba(20, 105, 133, 0.4);
}

/* Button */
.register-btn {
  width: 100%;
  background-color: #146985;
  color: #fff;
  font-weight: 600;
  padding: 0.75rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.register-btn:hover {
  background-color: #146985;
  transform: translateY(-2px);
}

/* Footer */
.register-footer {
  text-align: center;
  margin-top: 1rem;
  color: #6b7280;
}

.register-link {
  color: #146985;
  text-decoration: none;
  font-weight: 500;
}

.register-link:hover {
  text-decoration: underline;
}
