.sidebar {
  background: #141c31;
  color: #fff;
  padding: 2.5rem 1.5rem;
  display: flex;
  flex-direction: column;
}

.sidebar h1 {
  font-weight: 700;
  font-size: 1.6rem;
  margin: 0 0 3rem 0;
  letter-spacing: 0.05rem;
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  flex-grow: 1;
}

.nav-item {
  font-weight: 500;
  font-size: 1rem;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.nav-item.active,
.nav-item:hover {
  background: white;
  color: #141c31;
  font-weight: 700;
}

.pro-badge {
  background: #42a1ff;
  color: #fff;
  font-weight: 600;
  font-size: 0.65rem;
  padding: 0.12rem 0.45rem;
  border-radius: 0.6rem;
  margin-left: auto;
}

/* logout */
.main-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.top-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile-name {
  font-weight: 600;
  color: #1f2937;
}

.logout-btn {
  background-color: #022d58d0;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}

.logout-btn:hover {
  background-color: #033055;
}

/* transactiondropdown */
.custom-input-wrapper {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.custom-input {
  padding: 10px 12px;
  border: 1px solid #d0d0d0;
  border-radius: 6px;
  width: 250px;
  font-size: 15px;
  transition: all 0.2s ease-in-out;
}

.custom-input:focus {
  border-color: #4f46e5;
  box-shadow: 0 0 4px rgba(79, 70, 229, 0.4);
  outline: none;
}

.custom-add-btn {
  padding: 8px 14px;
  background: #022d58d0;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.custom-add-btn:hover {
  background: #033055;
}

.custom-cancel-btn {
  padding: 8px 14px;
  background: #e5e7eb;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.custom-cancel-btn:hover {
  background: #d1d5db;
}
