/* transactio  edit */
/* Container for category column */
.category-column {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Viewing state */
.view-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.view-wrapper span {
  font-weight: 500;
  color: #333;
}


/* Editing state */
.edit-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.edit-input {
  padding: 5px 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.edit-btns {
  display: flex;
  gap: 5px;
}

.save-btn {
  background-color:  #0b325c !important;
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}

.save-btn:hover {
  background-color: #0b325c ;
}

.cancel-btn {
  background-color: #06227c;
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}

.cancel-btn:hover {
  background-color: #223f9f;
}

.txn-edit-btn {
  background-color: #0b325c !important;
  color: #fff;
}
.txn-edit-btn-cancle{
   background-color: #989a9b !important;

}