
.upload-csv-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  max-width: 400px;
}

.upload-csv-label {
  font-weight: bold;
  font-size: 14px;
}

.upload-csv-input {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.upload-csv-button {
  padding: 8px 16px;
  background-color: #146985;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s all ease;
}

.upload-csv-button:hover {
  background-color: #0f526a;
}

.upload-csv-button:disabled {
  background-color: #999;
  cursor: not-allowed;
}
/*  admin csv button*/
.upload-csv-section {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  padding: 10px 0;
}

.upload-csv-btn {
  padding: 6px 14px;
  font-size: 14px;
  font-weight: 500;
  background-color: #3b82f6; 
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, transform 0.1s;
}

.upload-csv-btn:hover {
  background-color: #2563eb;
  transform: translateY(-1px);
}

.upload-csv-btn:disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
}

/* searchbar */
.search-container {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Input field */
.search-input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 250px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s ease;
}

.search-input:focus {
  border-color: #4CAF50;
}

/* Search button */
.search-btn {
  padding: 10px 18px;
  background-color: #022d58d0;
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  transition: opacity 0.2s ease;
}

.search-btn:hover {
background-color: #033055;
}

/* Reset button */
.reset-btn {
  padding: 10px 18px;
  background-color: #777;
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  transition: opacity 0.2s ease;
}

.reset-btn:hover {
  opacity: 0.8;
}
/* pagination  */
 .pagination {
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 10px

}
.pagination-btns{
display: flex;
justify-content: space-between;
align-items: center;
gap: 250px;
}
.pagination button {
  padding: 10px 18px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  transition: opacity 0.2s ease;
}
.next-btn{
  padding: 10px 18px;
  background-color: #022d58d0;
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  transition: opacity 0.2s ease;
}
.next-btn:hover {
background-color: #033055;
}
  .prev-btn {
  background-color: #022d58d0; 
  color: white;
}
.prev-btn:hover {
background-color: #033055;
}
.pagination button:disabled {
  background-color: #777;
  cursor: not-allowed;

} 





